html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    background: #F0ECE3;
    position: relative;
}

.nav--container {
    position: absolute;
    left: 45%;
    top: 0%;
    width: 50%;
    margin-top: 25px;
    margin-right: 50px;
}
.nav--buttons{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 0%;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.nav--button{
    color: #A7785E;
    font-size: 24pt;
    font-weight: bold;
    margin: 0px 22px 0px 22px;
    font-family: 'Arvo', serif;
}
.nav--button a{
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: #A7785E;
    line-height: 24px;
}
.nav--button:hover a{
    cursor: pointer;
    opacity: 60%;
    color: #97836b;
    font-size: 25pt;
}
.info{
    position: relative;
    width:35%;
    left:15%;
    margin: 0px 0px 0px 0px;
}
.about{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
.photo{
    /* size:30%; */
    width:40%;
    position: relative;
    height: 50%;
}
#pfp{
    width: 60%;
    transform: translateY(-80px);
    border-radius: 100%;
    /* height: 0%; */
}
.about hr.solid {
    border-top: 5px solid #6B461B;
}
.about--divider{
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0px 0px 0px 0px;
}
.info h1,h3,p {
    text-align: center;
    margin: 0;
}
.info h1{
    font-size: 48pt;
    margin: 5px 5px 5px 5px;
}
.info h3{
    font-size: 24pt;
    color: #7E2A17;
    margin: 5px 5px 15px 5px;
}
.info p{
    font-size:16pt;
    color: #7E2A17;
    line-height: 1.5;
    font-weight: 600;
}
.about--divider .divider--container{
    width:30%;
    margin-top: 3px;
    margin-bottom: 8px;
}
#abt--divider--label{
    width:45%;
}
.divider--container h2{
    text-align: center;
    margin: 0px 10% 0px 10%;
    font-size: 24pt;
    color: #6B461B;
    font-family: 'Arvo', serif;
}

.experience{
    position: relative;
    height: 850px;
    margin-top: 200px;
}
.experience hr.solid {
    border-top: 7px solid #6B461B;
}
.experience--divider{
    width:70%;
    left:10%;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

#front--exp--divider{
    width:10%
}
#exp--divider--label{
    width:34%;
    margin: 0px 2.5% 0px 2.5%;
}
#exp--divider--label h1{
    font-size: 48pt;
    color: #6B461B;
    font-family: 'Arvo', serif;
}
#back--exp--divider{
    width:50%
}
#mid--right{
    position: absolute;
    right: 0px;
}
.vertical-line{
    width: 4px;
    background-color: #EA9F4B;
    height: 65px;
    /* transform: translateY(-5px); */
    transform: translateX(-10px);
    float: left;
    position: relative;
    opacity: 70%;
}
.experience--window{
    margin: 50px 0 100px 15%;
    width: 85%;
    position: relative;
}
.experience--head{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 300px;
    width: 70%;
    margin: 0 2% 60px 2%;
}
.experience--bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 300px;
    width: 18%;
    /* left: 15%; */
    /* transform: translateY(50px); */
}
.experience--buttons{
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */
    margin: 0px 0px 0px 0px;
    height:300px;
}
.experience--button{
    width: 100%;
    padding: 0px 0px 0px 8px;
}
.experience--button:hover{
    cursor: pointer;
    background-color: #DEBD97;
    opacity: 60%;
}
#initial--button{
    background-color: #6B461B;
}
#initial--button--tag{
    font-weight: bold;
}
.experience--button h5{
    text-align: left;
    font-size: 16pt;
    margin: 11px 0 11px 0;
    font-weight: 400;
}
.experience--container{
    height: 100%;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 10%;
    transform: translateX(100px);
}
.experience--container h1, h2, h3{
    text-align: center;
}
.exp--info{
    width: 50%;
}
.exp--title{
    font-size: 36pt;
    font-weight: bold;
    text-align: center;

}
.exp--description{
    color: #5E5B5B;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;

}
.exp--position{
    color: #6B461B;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}
.exp--logo{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 5%;
}
.exp--logo img{
    /* height: 100%; */
    margin: 0 0%;
    border-radius: 50px;
    position: relative;
}
.experience--body{
    width: 50%;
    margin: 0 18%;
    position: absolute;
}
.experience--body li{
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
    line-height: 1.2;
    margin: 0 0 5px 0;
}
.hidden {
  visibility: hidden;
  display: none;
}
#mid--left{
    position: relative;
    /* top:200px; */
    transform: translateY(-50px);
}

.project{
    position: relative;
    height: 1900px;
    /* margin-top: 200px; */
}
.project hr.solid {
    border-top: 7px solid #6B461B;
}
.project--divider{
    width:70%;
    left:20%;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0px 0px 0px 0px;
    transform: translateY(-150px);
}
.project--body{
    transform: translateY(-100px);
}
#front--pro--divider{
    width:50%
}
#pro--divider--label{
    width:26%;
    margin: 0px 2.25% 0px 2.5%;
}
#pro--divider--label h1{
    font-size: 48pt;
    color: #6B461B;
    font-family: 'Arvo', serif;
}
#back--pro--divider{
    width:20%
}

.project--container{
    width: 70%;
    margin: 2.5% 25% 2.5% 15%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project--info{
    width: 50%;
    margin: 0 0 0 13%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.project--info h1{
    font-size: 26pt;
    font-weight: bold;
    color: #602D18;
    text-decoration: underline;
    margin: 2px 0 0 20px;
}
.project--info a h1{
    font-size: 26pt;
    font-weight: bold;
    color: #602D18;
    text-decoration: underline;
    margin: 2px 0 0 20px;
}
.project--info h3{
    font-size: 18pt;
    color: #5E5B5B;
    font-weight: bold;
    /* text-decoration: underline; */
    margin: 5px 0 10px 20px ;
    transform: translateY(-5px);
}
.project--info .description{
    background-color: #313215;
    width: 120%;
    /* opacity: 70%; */
    border-radius: 40px;
}
.project--info .description p{
    text-align: left;
    font-family: 'Comic Neue', cursive;
    line-height: 1.5;
    font-size: 14pt;
    color: #FFFFFF;
    width: 80%;
    /* height: 120px; */
    margin: 3% 0% 3% 9%;
}
.project--pic{
    width: 50%;
    position: relative;
}
.project--pic img, .project--pic--overlay{
    width: 600px;
    height: 500px;
}
.project--pic--overlay{
    height: 99%;
    width: 100%;
}
.project--pic--overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: #DDC09F;
}
.project--pic--overlay:hover{
    opacity: 0;
}
.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 35px 0 35px;
}
.tools img{
    width: 30px;
}
.tools h5{
    font-size: 16pt;
    color: #5E5B5B;
    margin: 0 10px;
}
/* flipped */
.flipped .project--info{
    align-items: flex-end;
    margin: 0 10% 0 0;
}
.flipped .project--pic{
    text-align: right
}
#pedia{
    margin-right: 30px;
    width: auto;
    height: auto;
}
.flipped .project--info .description p{
    text-align: left;
    margin: 3% 5% 3% 10%;
}
.flipped .project--pic .project--pic--overlay{
    width: 328px;
    height: 585px;
    margin-left: 242px;
}


.contact{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #C7B198;
    /* margin-top: 100px; */
}
.contact--info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0 0 10%;
    /* margin-top: 10%; */
    transform: translateY(20px);
    position: relative;
    font-family: 'Arvo', serif;
}
.contact h1{
    width: 400px;
    font-size: 28pt;
    font-weight: bold;
    text-align: left;
    margin: 5px 0 0 0;
    position: relative;
}
.contact h2{
    width: 400px;
    position: relative;
    font-size: 18pt;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    margin: 5px 0 10px 0;
}
#contact--me{
    width: 400px;
    text-decoration: none;
    font-size: 28pt;
    font-weight: bold;
    color: #000000;
}
#contact--email{
    width: 400px;
    text-decoration: none;
    /* font-size: 18pt; */
    /* font-weight: bold; */
    color: #FFFFFF;
}
.network--container{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.logo{
    margin:5px 8px;
}
@keyframes bubble-bounce { 
    0% { 
        transform: translateY(-25px) scale(1,1);

    } 

    50% { 
        transform: translateY(25px) scale(1.1,1.1); 
    } 

    100% { 
        transform: translateY(-25px) scale(1,1);
    } 
} 
#mid--left img, #mid--right img{
    animation: bubble-bounce 15s ease-in-out infinite;
}